<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'bibliotheque/style.css' %}">

<button name="button"><a href="ajout/"> ajouter un livre </a></button>
 <ol>
        {% for l in liste %}
            <li> {{l}} date de parution {{l.date_parution|date:"d/m/Y"}} <button name="aff"><a href="affiche/{{l.id}}"> afficher les détails | </a></button> <button name="supp"><a href="delete/{{l.id}}"> effacer | </a></button>
                <button name="upd"><a href="update/{{l.id}}"> update </a></button></li>
        {%endfor%}
    </ol>
</body>
</html>