<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'bibliotheque/style.css' %}">





     <nav class="oriantationpage">
         <div class="Lesclassesdarmes">Les classes d'armes</div>
         <ul class="onglet" id="list">
            <li class="list"><a href="/bibliotheque/">home</a></li>
            <li class="list"> <a href="/bibliotheque/ajout/">classe d'arme</a></li>
            <li class="list"><a href="/bibliotheque/ajout2/">arme</a></li>

            </ul>

         <div class="home" id="classe_darme" ></div>
          </nav>


        {% for l in liste %}
            <li> la classe d'arme de la personne est la classe {{l.titre}} <button name="aff"><a href="affiche/{{l.id}}"> afficher les détails  </a></button> <button name="supp"><a href="delete/{{l.id}}"> effacer  </a></button>
                <button name="upd"><a href="update/{{l.id}}"> update </a></button></li>

     <button name="button"><a href="ajout/"> ajouter une arme </a></button>
        {%endfor%}



</body>
</html>
